h3 {
    color: #FFE4C4;
    text-align: center;
    font-size: 40px;
}

body {
    background-color: #A9A9A9;
}


input[type=number] {
    background-color: #FFFF;
    width: 100%;
    height: 10px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

label {
    font-size: 20px;
    color: #F0F8FF;
    padding-right: 50px;
}

button {
    position: relative;
    height: 7%;
    width: 8%;
    background: #FFE4C4;
    border-radius: 50%;
}

.but {
    position: absolute;
    height: 90%;
    width: 80%;
    padding: 40px 880px; 50px; 
}

.lab {
    padding-left: 30px;
    font-size: 30px;
}

.poraba {
    position: absolute;
    padding: 200px; 30px; 10px; 50px;
    font-size: 30px;
}

.strosek {
    position: absolute;
    padding-top: -800px;
    padding-left: 200px;
}

.smile {
   padding: 20px;
}

p {
    position: absolute;
    padding-left:  450px;
    padding-top:  -510px;
    
}


